    public enum {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} {{openBracket}}{{#allowableValues}}{{#enumVars}}
        {{{name}}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}{{/enumVars}}
    {{/allowableValues}}
    }