package {{package}};

import au.org.consumerdatastandards.support.data.*;
import java.util.List;
import java.math.BigDecimal;
{{#models}}{{#model}}{{#isResponse}}
    import au.org.consumerdatastandards.api.common.responses.BaseResponse;
    import au.org.consumerdatastandards.api.common.responses.PaginatedResponse;
{{/isResponse}}{{#isEnum}}{{>enumOuterClass}}{{/isEnum}}
{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}{{/models}}